<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Website Title</title>
    <link href="nodeM/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <h1>Akademia pływania kieziorowskiego</h1>
        <nav>
            <ul class="nav nav-justified" style="background-color: lightblue">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/owner">Właściciele</a></li>
                <li role="presentation"><a href="//galery">Galeria</a></li>
                <li role="presentation"><a href="/schedule">Zapisy</a></li>
                <li role="presentation"><a href="/profile">Profil</a></li>
                <li role="presentation"><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="jumbotron">
            <img src="../public/images/Bartek_male.gif">
        </div>


        <script src="nodeM/jquery/dist/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="nodeM/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--koniec kontenera   -->
    </div>
</div>

</body>
</html>
