<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your Website Title</title>
        <link href="nodeM/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/schedule.css" rel="stylesheet">
        <link rel='stylesheet' href='nodeM/fullcalendar/dist/fullcalendar.css'/>
        <link rel=stylesheet href="stylesheets/style.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Akademia pływania kieziorowskiego</h1>
                <nav>
                    <ul class="nav-justified" style="background-color: lightblue">
                        <li role="presentation" class="active"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/owner">Właściciele</a></li>
                        <li role="presentation"><a href="/galery">Galeria</a></li>
                        <li role="presentation"><a href="/schedule">Zapisy</a></li>
                        <li role="presentation"><a href="/profile">Profil</a></li>
                        <li role="presentation"><a href="/contact">Kontakt</a></li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="jumbotron">
                    <div id='calendar'></div>
                </div>


                <script src="nodeM/jquery/dist/jquery.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="nodeM/bootstrap/dist/js/bootstrap.min.js"></script>

                <!--koniec kontenera   -->
            </div>
        </div>

        <div id="test">test</div>

        <script>
            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    dayClick: function () {
                        alert('a day has been clicked!');
                    }
                });
                $('.fc-day-header').addClass('myFaceBook');
                $('.fc-day-header').append('<img src="images/agata123.jpg" class="img-circle" style="width: 50px; height: 60px;">')

//      <img src="images/zajecia1.JPG">
            });
        </script>
        <!--<img src="images/zajecia1.JPG" class="img-circle" width="65px;">-->
        <script src='nodeM/jquery/dist/jquery.min.js'></script>
        <script src='nodeM/moment/min/moment.min.js'></script>
        <script src='nodeM/fullcalendar/dist/fullcalendar.js'></script>
<!--      <img src="images/agata123.jpg" class="img-circle" style="width: 50px; height: 50px;">-->
        
    </body>
</html>
