/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-31, 23:13:11
    Author     : jaszczur
*/

/*body{background-color: green;}*/

.myFaceBook{
  background-color: #008;
    color : red;
}
